<header>
    <div class="header">
        <div>
            <h2 class="title"><a href="/index">James King</a></h2>
        </div>
        <div class="links">
            <div class="link">
                <a {% if page.title == "About" %}class="active"{% endif %} href="/about">About</a>
            </div>
            <div class="link">
                <a {% if page.title == "Portfolio" %}class="active"{% endif %} href="/portfolio">Portfolio</a>
            </div>
        </div>
    </div>
</header>