<header>
    <div class="header">
        <div>
            <h1 class="title"><a href="/index">James King</a></h1>
        </div>
        <div class="links">
            <div class="link">
                <a {% if page.title == "Blog" %}class="active"{% endif %} href="/blog.html">Blog</a>
            </div>
            <div class="link">
                <a {% if page.title == "Portfolio" %}class="active"{% endif %} href="/portfolio.html">Portfolio</a>
            </div>
        </div>
    </div>
</header>