<section id="intro">
    <div class="row">
        <div class="col">
            <img src="{{ 'assets/img/me.jpeg' | relative_url }}" alt="A picture of me" />
        </div>
        <div class="col">
            Welcome! I've created this space because I wanted a place to express my personal
            and professional interests.<br /><br />
            
            Here you can find out about my career so far, curiosities I learn about from 
            reading books and developing software, recipes I love to cook and 
            the various projects I am developing outside of work.
        </div>
    </div>
</section>

<section id="stfc-career">
    <h2>A little about my work</h2>

    <div class="row">
        <div class="col">
            <img src="{{ 'assets/img/stfc-logo.jpg' | relative_url }}" alt="STFC Logo" />
        </div>
        <div class="col">
            <p>

                I work as a graduate software engineer at the <a href="https://stfc.ukri.org/">Science and Technology Facilities Council (STFC)</a>, 
                one of the seven research councils of <a href="https://www.ukri.org/">United Kingdom Research and Innovation (UKRI)</a>. 
                Specifically I work in Instrument Controls at the <a href="https://www.isis.stfc.ac.uk/Pages/home.aspx">ISIS pulsed neutron and muon source</a>
                developing software to allow scientists to more efficiently control the experiments.<br /><br />

                My work is mostly focused around writing software for the <a href="https://www.isis.stfc.ac.uk/Pages/IBEX.aspx">IBEX project</a>
                which has included writing drivers for various hardware using <a href="https://epics-controls.org/">EPICS</a>, being a maintainer of a
                <a href="https://github.com/ISISComputingGroup/genie_python">python-based instrument-control and scripting library</a> and leading the development
                of the <a href="https://github.com/ISISComputingGroup/ibex_developers_manual/wiki/The-IBEX-Script-Generator">script generator</a> which will
                enable repeatable experiments to be controlled via scripting without users needing to write any code.<br /><br />

                All this is done within the framework of the STFC graduate scheme. As part of this scheme I am doing a 3 month placement
                in the Scientific Computing Department. This placement involves working on the testing and continuous integration/deployment
                process of the <a href="https://github.com/pace-neutrons/Euphonic">Euphonic python library</a> which calculates phonon bandstructures
                and inelastic neutron scattering intensities from modelling code outputs such as CASTEP. Euphonic is part of the 
                <a href="https://www.isis.stfc.ac.uk/Pages/Proper-analysis-of-coherent-excitations.aspx">Proper Analysis of Coherent Excitations (PACE)</a>
                project which aims to improve the rapidity and quality of analysis of neutron experiments on the ISIS spectrometers in the Excitations Group.

            </p>
        </div>
    </div>
</section>

<section id="university">
    <h2>A little about university</h2>

    <div class="row">
        <div class="col">
            <img src="{{ 'assets/img/rhul.jpeg' | relative_url }}" alt="Royal Holloway Picture" />
        </div>
        <div class="col">
            <p>

                In 2019 I graduated with a 1st Class (Hons) in Computer Science from Royal Holloway, University of London. 
                In my time at Royal Holloway I learnt many important skills in areas such as software development and project management, 
                and studied many interesting fields including Bioinformatics, Algorithms and Complexity, and Agent-Based Systems.<br /><br />
                
                I will sometimes include interesting information I learned at university relating possibly to the use of graph theory in Bioinformatics 
                to understand how proteins interact through something called a Protein-Protein Interaction Networks, interesting algorithmic 
                problems such as NP-hardness and methods for dealing with it.<br /><br />
                
                One of the most intersting areas of study I found was Agent-Based Systems and I came to select a final year project based in this field. 
                My final year project was entitled "Cooperative Strategies in Multi-Agent Systems". This project involved the design and 
                development of a Multi-Agent System to model behaviour of autonomous agents within a community using a theoeretical framework 
                I developed through research on game-theoretic models.<br /><br />
                
                The model included a number of autonomous agents able to cooperate or defect 
                against one another at certain steps in the game and gossip with each other about other agents in the community. Agents were required 
                to process percepts from the environment such as viewing an interaction and the receipt of gossip, they then used a mechanism to decide 
                on an appropriate action to take given their present situation and past percepts/internal knowledge. The mechanisms and processes varied 
                depending on the agent's strategy. If you would like to read more you can download my final report 
                <a href="{{ 'assets/files/final_report.pdf' | relative_url }}">here</a>.
                
            </p>
        </div>
    </div>
</section>

<section id="technologies">
    <h2>A little about the technologies I have used and/or experimented with</h2>

    <h4>Python</h4>

    <h4>Java</h4>

    <h4>Other</h4>

</section>

<section id="interests">
    <h2>A little about my interests</h2>


</section>
