{% assign sidebar_count = 0 %}
{% for post in site.posts %}
    {% if post.categories contains "portfolio" %}
        {% assign sidebar_count = sidebar_count | plus: 1 %}
        {% assign remainder = sidebar_count | modulo: 2 %}
        {% if remainder != 0 %}
            <div class="left-sidebar">
                <div class="sidebar-entry">
                    {% include portfolio_intro.html %}
                    <a href="{{ post.url }}" class="sidebar-link">
                        <h2 class="sidebar-title">{{ post.title }}</h2>
                        <p class="sidebar-excerpt">{{ post.excerpt }}</p>
                    </a>
                </div>
                <div class="sidebar-entry">
                    <a href="{{ post.url }}" class="sidebar-link">
                        <img src="/assets/images/portfolio/{{ post.img }}" alt="{{ post.title }}" />
                    </a>
                </div>
            </div>
        {% else %}
            <div class="right-sidebar">
                <div class="sidebar-entry">
                    <a href="{{ post.url }}" class="sidebar-link">
                        <img src="/assets/images/portfolio/{{ post.img }}" alt="{{ post.title }}" />
                    </a>
                </div>
                <div class="sidebar-entry">
                    {% include portfolio_intro.html %}
                    <a href="{{ post.url }}" class="sidebar-link">
                        <h2 class="sidebar-title">{{ post.title }}</h2>
                        <p class="sidebar-excerpt">{{ post.excerpt }}</p>
                    </a>
                </div>
            </div>
        {% endif %}
        </a>
    {% endif %}
{% endfor %}
