
/* Blog */

.blog-years-container,
.blog-months-container {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.blog-years,
.blog-months {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.blog-years li a,
.blog-months li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    border-radius: 6px;
    background: rgba(0,0,0,0.06);
    color: #D4D5A5;
    font-size: 1.125rem;
}

.blog-year a:hover,
.blog-month a:hover {
    background: rgba(0,0,0,0.12);
}

.blog-post {
    box-sizing: border-box;
    background: rgba(0,0,0,0.05);
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
}

.blog-post a,
.blog-post a:hover,
.blog-post a:focus {
    text-decoration: none;
}

.blog-post a:hover h5,
.blog-post a:focus h5 {
    text-decoration: underline;
}

.blog-post a p,
.blog-post a:hover p,
.blog-post a:focus p {
    text-decoration: none;
}

