/* Base styling */

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, serif;
}
.green-link {
    display: block;
    text-decoration: none;
    background: #BFED91; /* Light green */
    color: black;
}
.green-link:hover {
    background: green;
    color: white;
}

/* Header */

#header-text {
    display: flex;
    align-items: center;
    text-align: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
}
#header-text > div {
    width: 50%;
}
#header-img-container {
    overflow: hidden;
}
#header-img {
    vertical-align: bottom;
}

/* Navbar */

#navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 3px solid;
    border-bottom: 3px solid;
}
#navbar li {
    float: left;
    border-right: 1px solid #bbb;
}
#navbar li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}
#navbar li a:hover {
    background: black;
    color: white;
}
#navbar .link-right {
    float: right;
    border-right: none;
    border-left: 1px solid #bbb;
}

/* Page content styling */

#page-content {
    width: 100%;
    margin: auto;
}
#page-content p {
    text-align: left;
}
#page-content h1 {
    text-align: center;
}
#page-content .para {
    margin-left: 5%;
    margin-right: 5%;
}
.title-underline {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* tables */

.row {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    text-align: center;
}
.col {
    display: inline-block;
    flex-basis: 45%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.col img {
    max-width: 100%;
}


@media screen and (max-width: 1000px) {
    .col {
        flex-basis: 100%;
    }
}

/* Footer */

.footer {
    border-top: 3px solid;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.media-link {
    text-decoration: none;
}
