.portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.portfolio-grid-item {
    padding: 2px;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 100%;
    min-width: 0;     
}

.portfolio-grid-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 1600px) {
    .portfolio-grid-item {
        flex-basis: 25%;
    }
}

@media (max-width: 1600px) {
    .portfolio-grid-item {
        flex-basis: 33.33%;
    }
}

@media (max-width: 900px) {
    .portfolio-grid-item {
        flex-basis: 50%;
    }
}

@media (max-width: 450px) {
    .portfolio-grid-item {
        flex-basis: 100%;
    }
}

.portfolio-grid-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.portfolio-grid-title {
    transform: translateY(-100%);
}

.portfolio-grid-excerpt {
    transform: translateY(-100%);
}

