.portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0.2rem;
    justify-content: space-evenly;
}

.portfolio-grid-item {
    text-align: center;
    box-sizing: border-box;
    flex-basis: 100%;
    min-width: 0;
    border-radius: 6px;
    padding: 0.3rem;
}

.portfolio-grid-item:hover img {
     filter: brightness(50%);
}

@media (min-width: 1600px) {
    .portfolio-grid-item {
        flex-basis: 25%;
    }
}

@media (max-width: 1600px) {
    .portfolio-grid-item {
        flex-basis: 32%;
    }
}

@media (max-width: 900px) {
    .portfolio-grid-item {
        flex-basis: 49%;
    }
}

@media (max-width: 450px) {
    .portfolio-grid-item {
        flex-basis: 100%;
    }
}

.portfolio-grid-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.portfolio-grid-content {
    transform: translateY(-7.5rem);
}
