.portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-grid-item {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.portfolio-grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
/* 
.portfolio-grid-image {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-grid-title {
    padding: 15px;
}

.portfolio-grid-excerpt {
    margin: 0;
    font-size: 1.2em;
    color: #333;
} */
