body {
    background-color: #D4D5A5;
    color: #3C3B37;
    font-family: Georgia, 'Garamond', Times, serif;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: #3C3B37;
}

a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    font-size: 50px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
}

.link {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 20px;
}

.header { 
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #4E6B31;
    color: #D4D5A5;
}

.header > div {
    width: 50%;
}

.page-title {
    text-align: center;
    font-size: 40px;
}

.post-title {
    text-align: center;
    font-size: 30px;
}

hr {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.sections {
    margin: 5%;
}

/*
Peachtree: #efb9a5
Forest: #3c4b33
Sunflower: #e9c770
Mist: #eeeced
Stream: #c7d6e3
Meadow: #bfc694
Blossom: #ffe6dd
Fern: #6f8d5e
Earth: #000000
*/