---
layout: default
---

{% include header.html %}


<div class="blog-container">

    {% assign year = null %}
    {% assign blog_archives = site.blog | where: "layout", "blog" %}
    <div class="blog-years-container">
    <ul class="blog-years">
    {% for post in blog_archives %}
        {% if year != post.year %}
        {% assign year = post.year %}
        {% capture blog_year_link %}/blog/{{ post.year }}-{{ post.month | downcase }}/{% endcapture %}
        <li class="blog-year">
            <a href="{{ blog_year_link | relative_url }}">{{ year }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>

    {% assign month = null %}
    <div class="blog-months-container">
    <ul class="blog-months">
    {% for post in blog_archives %}
        {% if month != post.month %}
        {% assign month = post.month %}
        {% capture blog_month_link %}/blog/{{ post.year }}-{{ post.month | downcase }}/{% endcapture %}
        <li class="blog-month">
            <a href="{{ blog_month_link | relative_url }}">{{ month | capitalize }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>

    <div class="blog-posts">
    {% capture archive_key %}{{ page.year }}-{{ page.month | downcase }}{% endcapture %}
    {% for post in site.blog %}
        {% assign post_name = post.name | downcase %}
        {% if post.layout == "blog_post" and post_name contains archive_key %}
        <div class="blog-post">
            <a href="{{ post.url }}">
                <h5>{{ post.title }}</h5>
                <p>{{ post.excerpt }}</p>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>

</div>

{% include footer.html %}