---
layout: default
---

{% include header.html %}


<div class="blog-container">

    {% assign page_year = page.date | date: "%Y" %}
    {% assign page_month = page.date | date: "%b" %}

    {% assign year = null %}
    {% assign blog_archives = site.blog | where: "layout", "blog" %}

    <div class="blog-years-container">
    <ul class="blog-years">
    {% for post in blog_archives sort: "date" %}
        {% assign post_year = post.date | date: "%Y" %}
        {% assign post_month = post.date | date: "%b" %}
        {% if year != post_year %}
        {% assign year = post_year %}
        {% capture blog_year_link %}/blog/{{ post_year }}-{{ post_month | downcase }}/{% endcapture %}
        <li class="blog-year">
            <a href="{{ blog_year_link | relative_url }}">{{ year }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>

    {% assign months = "" | split: "" %}
    <div class="blog-months-container">
    <ul class="blog-months">
    {% for post in blog_archives sort: "date" %}
        {% assign post_year = post.date | date: "%Y" %}
        {% assign post_month = post.date | date: "%b" %}
        {% if months contains post_month %}
        {% else %}
        {% assign months = months | push: post_month %}
        {% capture blog_month_link %}/blog/{{ page_year }}-{{ post_month | downcase }}/{% endcapture %}
        <li class="blog-month">
            <a href="{{ blog_month_link | relative_url }}">{{ post_month | capitalize }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>

    {% assign blog_posts = site.blog | where: "year", page_year | where: "month", page_month | where: "layout", "blog_post" %}

    <div class="blog-posts">
    {% for post in blog_posts %}
        <div class="blog-post">
            <a href="{{ post.url }}">
                <h5>{{ post.title }}</h5>
                <p>{{ post.excerpt }}</p>
            </a>
        </div>
    {% endfor %}
    </div>

</div>

{% include footer.html %}