---
title: Home
layout: default
---

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <div class="home">
            <h1 class="title">James King</h1>
            <div class="links">
                <div class="link">
                    <a href="/portfolio.html">Portfolio</a>
                </div>
                <div class="link">
                    <a href="/about.html">Blog</a>
                </div>
            </div>
            {{ content }}
        </div>
    </div>
</main>
