---
layout: default
---

{% include header.html %}

<article class="portfolio">
  {% for img in page.img %}
  <div class="portfolio-item">
      
      <div class="item-inner">
          <div class="portfolio-image">
              <img src="/assets/images/portfolio/{{ img }}" alt="{{ page.title }}" />
          </div>

          <div class="portfolio-meta">
              {% if page.audio %}
              <audio id="player" loading="metadata">
                <source src="/assets/audio/{{ page.audio }}" type="{{ page.audio_type }}">
              </audio>
              <div class="audio-controls">
                <div class="audio-control-group">
                  <button id="play" class="audio-btn" onclick="
                    var player = document.getElementById('player');
                    if (player.paused || player.ended) {
                      player.play();
                    } else {
                      player.pause();
                    }
                    ">▶/❚❚</button>
                  <button id="volume-up" class="audio-btn" onclick="document.getElementById('player').volume += 0.1">+</button>
                  <button id="volume-down" class="audio-btn" onclick="document.getElementById('player').volume -= 0.1">-</button>
                </div>
                <div class="audio-control-group">
                  <button id="rewind" class="audio-btn" onclick="document.getElementById('player').currentTime -= 10">⏪︎</button>
                  <div class="audio-time-track" id="time-track"></div>
                  <button id="fast-forward" class="audio-btn" onclick="document.getElementById('player').currentTime += 10">⏩︎</button>
                  <script type="text/javascript">
                    function updateTimeTrack() {
                      var player = document.getElementById('player');
                      var currentTimeSeconds = String(Math.floor(player.currentTime % 60)).padStart(2, '0');
                      var currentTimeMinutes = Math.floor(player.currentTime / 60);
                      var durationSeconds = String(Math.floor(player.duration % 60)).padStart(2, '0');
                      var durationMinutes = Math.floor(player.duration / 60);
                      var timeTrack = document.getElementById('time-track');
                      timeTrack.textContent = `${currentTimeMinutes}:${currentTimeSeconds} / ${durationMinutes}:${durationSeconds}`;
                    }
                    document.getElementById('player').addEventListener('timeupdate', function() {
                      updateTimeTrack();
                    });
                    document.getElementById('player').addEventListener('durationchange', function() {
                      updateTimeTrack();
                    });
                    document.getElementById('player').addEventListener('canplay', function() {
                      updateTimeTrack();
                    });
                    updateTimeTrack();
                  </script>
                </div>
              </div>
              {% endif %}
              <h2 class="portfolio-title">{{ page.title }}</h2>
              <p class="portfolio-excerpt">
                {% assign txt_var = page.txt | slice: forloop.index0, 1 %}
                {{ {{ txt_var }} }}
              </p>
          </div>
      </div>

  </div>
  {% endfor %}
</article>


{% include footer.html %}