---
layout: default
---

{% include header.html %}

{% if page.categories contains "portfolio" %}
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-image-container">
    <img class="post-image" src="/assets/images/portfolio/{{ page.img }}" alt="{{ page.title }}" />
  </div>
  
  <p class="post=excerpt">{{ page.excerpt }}</p>

  <div class="post-content">
    {{ content }}
  </div>

</article>
{% endif %}

{% include footer.html %}